Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.Content/StarterContent
.Content/InfinityBladeAdversaries
.Content/InfinityBladeEffects
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace